@import "common/theme";

:root {
  font: $font-text;
  background: $color-light-gray;

  h1 h2 h3 {
    font: $font-title;
  }

  p {
    font: $font-text;
  }

  span {
    font: $font-display;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.horizontal-container {
  @extend .flex-row;

  height: 100%;
  justify-content: space-between;
}

.horizontal-container-item {
  @extend .flex-column;

  justify-content: center;
}

.vertical-container {
  @extend .flex-column;

  width: 100%;
  justify-content: center;
}

.vertical-container-item {
  @extend .flex-row;

  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 64px 0 64px 0;
  width: 100%;
}

.hero-img-container {
  background-image: url("../../assets/images/hero_picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 15%;
  position: sticky;
  top: 0;
  box-shadow: 0 -6px 10px 5px $color-gray;
  padding: 16px 0 16px 0;
  background: white;
}

footer {
  height: 15%;
  padding: 16px 0 16px 0;
}

body {
  @extend .flex-column;
}