@import "bootstrap/scss/bootstrap";
@import "components";

@include media-breakpoint-only(xxl) {
  // Base
  :root {
    --font-size-px: 24px;
    --header-padding-px: 12px;
    --footer-padding-px: 64px;
    --section-margin-px: 36px;
  }
}

@include media-breakpoint-only(xl) {
  // Base
  :root {
    --font-size-px: 20px;
    --header-padding-px: 12px;
    --footer-padding-px: 64px;
    --section-margin-px: 32px;
  }

  // Bootstrap
  .row {
    row-gap: 36px;
  }

  // Custom
  .base-button {
    border-radius: 16px;
    padding: 8px;
  }

  .hero {
    height: 500px;
  }

  .hero-content {
    row-gap: 28px;
  }

  .feature-card {
    row-gap: 16px;
  }
}

@include media-breakpoint-only(lg) {
  // Base
  :root {
    --font-size-px: 16px;
    --header-padding-px: 8px;
    --footer-padding-px: 64px;
    --section-margin-px: 28px;
  }

  // Custom
  .base-button {
    border-radius: 12px;
    padding: 6px;
  }

  .hero-content {
    row-gap: 16px;
  }
}

@include media-breakpoint-only(md) {
  // Base
  :root {
    --font-size-px: 14px;
    --header-padding-px: 8px;
    --footer-padding-px: 64px;
    --section-margin-px: 24px;
  }

  // Custom
  .base-button {
    border-radius: 10px;
    padding: 5px;
  }

  .hero {
    height: 300px;
  }
}

@include media-breakpoint-only(sm) {
  // Base
  :root {
    --font-size-px: 12px;
    --header-padding-px: 12px;
    --footer-padding-px: 64px;
    --section-margin-px: 18px;
  }

  // Custom
  .base-button {
    border-radius: 10px;
    padding: 4px;
  }

  .hero {
    height: 250px;
  }
}

@include media-breakpoint-only(xs) {
  // Base
  :root {
    --font-size-px: 8px;
    --header-padding-px: 8px;
    --footer-padding-px: 64px;
    --section-margin-px: 12px;
  }

  // Custom
  .base-button {
    border-radius: 8px;
    padding: 4px;
  }

  .hero {
    height: 200px;
  }
}