@import "bootstrap/scss/bootstrap";
@import "components";

@include media-breakpoint-only(xxl) {
  // Base
  :root {
    --font-size-px: 24px;
    --header-padding-px: 12px;
    --footer-padding-px: 64px;
    --section-margin-px: 36px;
  }

  // Bootstrap
  .row {
    row-gap: 36px;
  }

  // Custom
  .base-button {
    border-radius: 20px;
    padding: 16px;
  }

  .hero {
    height: 750px;
    background-image: url('assets/images/hero_picture.jpg')
  }

  .hero-content {
    row-gap: 28px;
  }

  .feature-card {
    row-gap: 16px;
  }

  .item-card {
    row-gap: 16px;
  }

  .review-card {
    row-gap: 16px;
  }

  .review-image {
    width: 196px;
    height: 196px
  }
}

@include media-breakpoint-only(xl) {
  // Base
  :root {
    --font-size-px: 20px;
    --header-padding-px: 12px;
    --footer-padding-px: 64px;
    --section-margin-px: 32px;
  }

  // Bootstrap
  .row {
    row-gap: 36px;
  }

  // Custom
  .base-button {
    border-radius: 16px;
    padding: 8px;
  }

  .hero-content {
    row-gap: 28px;
  }

  .feature-card {
    row-gap: 16px;
  }

  .item-card {
    row-gap: 16px;
  }

  .review-card {
    row-gap: 16px;
  }

  .review-image {
    width: 128px;
    height: 128px
  }
}

@include media-breakpoint-only(lg) {
  // Base
  :root {
    --font-size-px: 16px;
    --header-padding-px: 8px;
    --footer-padding-px: 64px;
    --section-margin-px: 28px;
  }

  // Bootstrap
  .row {
    row-gap: 24px;
  }

  // Custom
  .base-button {
    border-radius: 12px;
    padding: 6px;
  }

  .hero {
    height: 450px;
    background-image: url('assets/images/hero_picture_alt.jpg')
  }

  .hero-content {
    row-gap: 16px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 36px;
  }

  .feature-card {
    row-gap: 16px;
  }

  .item-card {
    row-gap: 16px;
  }
}

@include media-breakpoint-only(md) {
  // Base
  :root {
    --font-size-px: 14px;
    --header-padding-px: 8px;
    --footer-padding-px: 64px;
    --section-margin-px: 24px;
  }

  // Bootstrap
  .row {
    row-gap: 20px;
  }

  // Custom
  .base-button {
    border-radius: 10px;
    padding: 5px;
  }

  .hero {
    height: 400px;
    background-image: url('assets/images/hero_picture.jpg')
  }

  .hero-content {
    row-gap: 12px;
    justify-content: flex-start;
    align-items: start;
    padding-top: 24px;
  }

  .feature-card {
    row-gap: 8px;
  }

  .item-card {
    row-gap: 8px;
  }

  .review-card {
    row-gap: 4px;
  }

  .review-image {
    width: 128px;
    height: 128px
  }
}

@include media-breakpoint-only(sm) {
  // Base
  :root {
    --font-size-px: 12px;
    --header-padding-px: 12px;
    --footer-padding-px: 64px;
    --section-margin-px: 18px;
  }

  // Bootstrap
  .row {
    row-gap: 16px;
  }

  // Custom
  .base-button {
    border-radius: 10px;
    padding: 4px;
  }

  .hero {
    height: 300px;
    background-image: url('assets/images/hero_picture.jpg')
  }

  .hero-content {
    row-gap: 12px;
    justify-content: flex-start;
    align-items: start;
    padding-top: 16px;
  }

  .feature-card {
    row-gap: 6px;
  }

  .item-card {
    row-gap: 6px;
  }

  .item-card {
    row-gap: 8px;
  }

  .review-card {
    row-gap: 4px;
  }

  .review-image {
    width: 96px;
    height: 96px
  }
}

@include media-breakpoint-only(xs) {
  // Base
  :root {
    --font-size-px: 8px;
    --header-padding-px: 8px;
    --footer-padding-px: 64px;
    --section-margin-px: 12px;
  }

  // Bootstrap
  .row {
    row-gap: 12px;
  }

  // Custom
  .base-button {
    border-radius: 8px;
    padding: 4px;
  }

  .hero {
    height: 210px;
    background-image: url('assets/images/hero_picture_alt.jpg')
  }

  .hero-content {
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .feature-card {
    row-gap: 4px;
  }

  .item-card {
    row-gap: 4px;
  }

  .item-card {
    row-gap: 6px;
  }

  .item-card {
    row-gap: 8px;
  }

  .review-card {
    row-gap: 4px;
  }

  .review-image {
    width: 96px;
    height: 96px
  }
}