@import "common/theme";

$button-radius: 16px;
$button-padding: 12px;

.base-button {
  border: none;
  font-family: $font-title;
  border-radius: $button-radius;
  padding: $button-padding;
}

.action-button {
  @extend .base-button;

  background-color: $color-green;
  color: $color-light-gray;

  &:hover {
    background-color: $color-light-green;
    transition: all 1s ease;
  }
}

.outline-button {
  @extend .base-button;

  border-style: solid;
  border-color: $color-light-gray;
  background-color: $color-light-gray;
  color: $color-black;

  &:hover {
    border-color: $color-light-green;
    transition: all 1s ease;
  }
}

.base-text {
  font-family: $font-text;
  color: $color-black;
}

.accent-text {
  @extend .base-text;

  font-family: $font-title;
  color: $color-light-green;
}

.image-text {
  @extend .base-text;

  font-family: $font-title;
  color: $color-light-gray;
}

$card-radius: 16px;
$card-padding: 16px;

.item-card {
  @extend .flex-column;

  border: thin solid $color-light-green;
  border-radius: $card-radius;
  padding: $card-padding;
  background-color: $color-light-gray;
  row-gap: $card-padding;
}

.review-card {
  @extend .flex-column;

  row-gap: $card-padding;
}

.review-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.header-navigation {
  @extend .flex-row;

  justify-content: space-between;
  align-items: center;
}

.header-navigation-item {
  @extend .box;
}

$buttons-gap: 16px;

.header-buttons {
  @extend .header-navigation;

  justify-content: center;
  column-gap: $buttons-gap;
}

.hero {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  @extend .flex-column;

  justify-content: center;
  align-items: flex-start;
}

#hero {
  .hero {
    .container {
      height: 100%;

      .row {
        height: 100%;

        .hero-content {
          height: 100%;
        }
      }
    }
  }
}