@import "bootstrap/scss/bootstrap";
@import "common/theme";

header {
  height: 15%;
  position: sticky;
  top: 0;
  box-shadow: 0 -6px 10px 5px $color-gray;
  padding: 16px 0 16px 0;
}

footer {
  height: 15%;
  padding: 16px 0 16px 0;
}