@import "components";

#hero {
  .hero {
    .container {
      height: 100%;

      .row {
        height: 100%;

        .hero-content {
          height: 100%;
        }
      }
    }
  }
}

#assortment {
  .visible-xl {
    .container {
      h1 {
        text-align: center
      }

      h2 {
        text-align: center
      }

      .flex-column {
        row-gap: 16px;
      }
    }
  }
}

#reviews {
  .visible-lg {
    .container {
      img {
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .flex-column {
        row-gap: 16px;
      }
    }
  }
}