@import "theme";

:root {
  font: $font-text;
  background: $color-light-gray;

  h1 h2 h3 {
    font: $font-title;
  }

  p {
    font: $font-text;
  }

  span {
    font: $font-display;
  }
}

.flexer-row {
  display: flex;
  flex-direction: row;
}

.flexer-column {
  display: flex;
  flex-direction: column;
}

.flexchild {
  flex: auto;
}