@import "theme";

:root {
  font: $font-text;
  background: $color-light-gray;

  h1 h2 h3 {
    font: $font-title;
  }

  p {
    font: $font-text;
  }

  span {
    font: $font-display;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.horizontal-container {
  @extend .flex-row;

  height: 100%;
  justify-content: space-between;
}

.horizontal-container-item {
  @extend .flex-column;

  justify-content: center;
}

.vertical-container {
  @extend .flex-column;

  width: 100%;
  justify-content: center;
}

.vertical-container-item {
  @extend .flex-row;

  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}