// [Fonts]
$text: 'Roboto', sans-serif;
$title: 'Montserrat', sans-serif;
$display: 'Redrose', sans-serif;

// [Font styles]
$font-text: normal 400 $text;
$font-title: normal 500 $title;
$font-display: normal 400 $display;

// [Font sizes]
$font-size-xl: 28px;
$font-size-lg: 18px;
$font-size-md: 12px;
$font-size-sm: 10px;
$font-size-xs: 8px;

// [Theme colors]
$color-black: #0D0A0B;
$color-gray: #454955;
$color-light-gray: #F3EFF5;
$color-light-green: #72B01D;
$color-green: #3F7D20;
