// [Fonts]
$text: 'Roboto', sans-serif;
$title: 'Montserrat', sans-serif;
$display: 'Redrose', sans-serif;

// [Font sizes]
$font-text: normal 400 1rem/1.5rem $text;
$font-title: normal 600 2rem/2.5rem $title;
$font-display: normal 500 1rem/1.5rem $display;

// [Sizes]
$size-xl: 32px;
$size-lg: 24px;
$size-md: 16px;
$size-sm: 12px;
$size-xs: 8px;

// [Colors]
$color-black: #0D0A0B;
$color-gray: #454955;
$color-light-gray: #F3EFF5;
$color-light-green: #72B01D;
$color-green: #3F7D20;
